{% extends 'base.html' %}

{% block content %}
<h2>Update BOM</h2>
<form method="post">
    <label for="item_id">Item ID</label>
    <input type="text" name="item_id" id="item_id" value="{{ bom.item_id }}" >
    <br>
    <label for="material_id">Material ID</label>
    <input type="text" name="material_id" id="material_id" value="{{ bom.material_id }}" >
    <br>
    <label for="quantity">Quantity</label>
    <input type="text" name="quantity" id="quantity" value="{{ bom.quantity }}" >
    <br>
    <button type="submit">Update BOM</button>
</form>
<a href="{{ url_for('main.inventory.bom.bom_read_bp.bom_read') }}">Back to BOMs</a>
{% endblock %}
